.image_arrow {
	float: right;
	width: 17px;
	height: 17px;
	margin-right: 15px;
}

.filter_sort {
	color: #000;
	text-decoration: none;
	height: 40px;
	font-weight: bold;
	padding: 20px 10px 5px 15px;
	cursor: pointer;
}

.Cards {
	display: inline-flex;
	margin-right: 14px;
	text-align: center;
	margin-top: 10px;
	height: 264px;
	width: 171px;
	background-color: white;
	align-items: flex-start;
	cursor: pointer;
	word-wrap: normal;
 }
 
 .viewMore {
	text-decoration: underline;
 }
 
 .couponDescription {
	word-break: break-word;
}
 span{
	color: black;
 }
 
 h4, h5 {
	padding: 0;
	margin: 5px;
	text-align: left;
	color: black;
 }

 img {
	margin-bottom: 8px;
 }

 h6 {
	padding: 0;
	margin: 5px;
	text-align: left;
	color: grey;
 }

 .CouponSearch {
	 width: 100%;
	 display: inline-flex;
	 margin-top: 10px;
 }

 .SearchBarImage {
	 display: inline-flex;
	 background-color: #989B9F;
	 width: 100%;
	 color: white;

 }

 .SearchImage {
	height: 25px;
	margin-top: 12px;
	margin-left: 10px;
 }

 .SearchBar {
	width: 95%;
	padding: 13px;
	font-size: 20px;
	background-color: #989B9F;
	border: none;
	justify-content: center;
	display: flex;
	margin: auto;
	color: white;
	outline: 0;
 }

 .SearchBar::placeholder {
	 color: white;
 }

.WelcomeUser_Logout {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	margin-bottom: 0;
 }

 .userName {
	font-style: italic;
	color: grey;
	margin-top: 25px;
	margin-right: 10px;
 }

 .logoutButton {
	width: 150px;
	height: 45px;
	margin: 18px 5px 10px 10px;
	font-size: 20px;
	font-weight: bold;
	color: grey;
	background-color: white;
	border: 1px solid gray;
 }

 .logoutButton:hover {
	 background-color: #E0004D;
	 cursor: pointer;
	 color: white;
 }

 .printDiv {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	margin-bottom: 0;
 }

 .printButton {
	font-size: 20px;
	font-weight: bold;
	color: #E0004D;
	border: none;
	margin-bottom: 0;
 }

 .printButton:hover {
	border: 0;
	cursor: pointer;
	background-color: #E0004D;
	color: white;
	text-align: center;
 }

 .button {
	display: none;
}

.logOutMessage1 {
	text-align: center;
	color: gray;
}
.logOutMessage2 {
	text-align: center;
	color: gray;
	font-weight: normal;
}
.modal {
	padding: 50px;
 }

 .logOutImage {
	 display: flex;
	 margin: auto;
 }

 .popupHeader {
	font-family: sans-serif;
	color:grey;
	margin: 0;
	margin-bottom: 10px;
 }

 .popupMessage {
	font-family: sans-serif;
	color:grey;
	margin: 0;
	margin-bottom: 10px;
	padding-left: 3px;
 }

 .bar {
	border: 1px solid red;
	height: 2px;
	width: 100%;
 }
 
 .in {
	animation: fill 10s linear 1;
	height: 100%;
	background-color:#E0004D;
 }
 
 @keyframes fill {
	0% {
		width: 100%;
	}
	100% {
		width: 0%;
	}
 }

 .actions {
	margin: auto;
	text-align: center;
	margin-top: 20px;
 }

 .buttons {
	background-color: white;
	width: 250px;
	height: 50px;
	margin-left: 40px;
	font-size: 16px;
	font-weight: bold;
	color:gray;
 }

 .buttons:hover {
	background-color: #E0004D;
	color: white;
 }


.AllCoupons {
	margin-top: 0;
	display: flex;
	width: 100%;
	height: 100%vh;
 }
 
 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 230px;
	background-color: white;
	height: 100%vh;
	border: 2px solid lightgrey;
 }

 li a {
	display: flex;
	color: #000;
	text-decoration: none;
	height: 40px;
	font-weight: bold;
	padding: 20px 10px 5px 15px;
	cursor: pointer;

 }
 
 li a.active {
	background-color: #E0004D;
	color: white;
 }


 li a:hover:not(.active) {
	background-color: #E0004D;
	color: white;
 }

 .LoadedCoupons {
	color: grey;
	background-color: #EEF0F3;
	border-top: 2px solid lightgrey;
	height: -webkit-fill-available;
	height: 100%;
	min-height: 870px;
	width: -webkit-fill-available;
	padding-left: 18px;
	padding-bottom: 230px;
 }

 .LoadedCouponCount {
	padding: 0;
	margin: 5px;
	text-align: left;
	color: grey;
	font-weight: normal;
	margin-top: 17px;
	margin-left: 20px;
	width: 240px;
 }



