.AllCoupons{
	margin-top: 0;
	display: flex;
	width: 100%;
	height: 100%vh;
 }
 
 .WelcomeUser_Logout{
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	margin-bottom: 0;
 }
 
 .logoutButton {
	width: 100px;
	height: 40px;
	margin: 5px 5px 10px 20px;
	font-size: 20px;
	font-weight: bold;
	color: grey;
 }
 .printDiv{
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	margin-bottom: 0;
 }
 .printButton{
	font-size: 20px;
	font-weight: bold;
	color: #E0004D;
	border: none;
	margin-bottom: 0;
 }
 .printButton:hover{
	border: 0;
 }
 .userName{
	font-style: italic;
	color: grey;
	margin-top: 10px;
 }
 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 230px;
	background-color: white;
	height: 100%vh;
	border: 2px solid lightgrey;
 }
 h4, h5 {
	padding: 0;
	margin: 5px;
	text-align: left;
	color: black;
 }
 img{
	margin-bottom: 8px;
 }
 h6{
	padding: 0;
	margin: 5px;
	text-align: left;
	color: grey;
 }
 .LoadedCouponCount {
	padding: 0;
	margin: 5px;
	text-align: left;
	color: grey;
	font-weight: normal;
 }
 
 li a {
	display: flex;
	color: #000;
	text-decoration: none;
	height: 40px;
	font-weight: bold;
	padding: 20px 10px 5px 15px;
 }
 
 li a.active {
	background-color: #E0004D;
	color: white;
 }
 
 li a:hover:not(.active) {
	background-color: #E0004D;
	color: white;
 }
 .LoadedCoupons{
	color: grey;
	padding: 10px 20px 10px 50px;
	background-color: #EEF0F3;
	border-top: 2px solid lightgrey;
	height: -webkit-fill-available;
	width: -webkit-fill-available;
 }
 .Cards{
	display: inline-flex;
	margin-right: 14px;
	text-align: center;
	margin-top: 10px;
	height: 264px;
	width: 171px;
	background-color: white;
	align-items: flex-start;
	cursor: pointer;
	word-wrap: normal;
 }
 
 .viewMore{
	text-decoration: underline;
 }
 
 span{
	color: black;
 }
 