/* @font-face {
  font-family: effra;
  src: url(../../fonts/Dalton\ Maag\ -\ Effra-Regular.ttf);
}

@font-face {
  font-family: effra;
  src: url(../../fonts/Dalton\ Maag\ -\ Effra-Bold.ttf);
  font-weight: bold;
} */

.AttractHeader {
  display: flex;
  justify-content: center;
  /* font-size: calc(10px + .7vmin); */
  color: black;
}

.MainHeader{
  /* font-family: effra; */
  font-weight: bold;
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 15px;
}
