div.screen {
	margin: 0 0 10px;
	border: 3px solid;
	text-align: center;
	border-radius:50%;
	left:230px;
	background-color: #84c34d;
	z-index: 1;
	bottom: 8%;
	position: absolute;
	width: 100%;
}

@media screen and (min-width: 1700px) and (min-height: 900px) {
div.screen {
		margin: 0 0 10px;
		border: 3px solid;
		text-align: center;
		border-radius:50%;
		left:350px;
		background-color: #84c34d;
		z-index: 1;
		position: absolute;
		width: 100%;
}

.couponImageCover{
	background-size: cover;
}

}
.couponImageCover{
background-size: cover;
}
.each-slide{
width: 1228px;
height: 647px;
background-size: cover;
}
.react-slideshow-wrapper .images-wrap *{
	width: 1228px;
	height: 647px;
}
#one {
	height: 180px;
	width: 180px;
	border-color: #84c34d;
}

.tapAnywhere {
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	padding: 5px 10px;
	color:white;
}

div.container {
	position: absolute;
	height: 30px;
	top: 50%;
	left: 0;
	margin-top: -15px;
}

.couponIcon{
	height: 650px;
	padding: 0 25%;
}